
/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .row img {
    width: 30%;
    height: 30%;
  }

  h2 {
    font-size: 110%;
    padding-top: 10%;
  }

  p {
    font-size: 80%;
  }
  nav {
    background-color: black;
    position: relative;
  }

  .logo, .icon-burger {
    margin: 0 auto;
  }

  nav .main-nav {
    display: grid;
    grid-template-columns: auto;
    float: none;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 100%;
    margin-bottom: 0;
    margin-top: 0;
		justify-content: center;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		transition: all .5s ease-in-out;
    font-size: 150%;
    padding-top: 5%;
  }

  .main-nav li {
    margin: 0 auto;
  }

  nav .main-nav a {
    font-size: 20px;
  }

  nav :checked ~ .main-nav {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}

  .intro-text-box { 
    display: block;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    width: 80%;
    padding-top: 35%;
    line-height: 250%;
  }

  .intro-text-box p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    margin: 0 auto;
    width: 100%;
    line-height: 145%;
  }

  .image-description-halves {
    padding: 5%;
  }

  .image-description-halves h2, p {
    font-size: 110%;
    width: 95%;
    margin: 0 auto;
  }

  .image-description-halves img {
    padding-top: 5%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .what-we-do p {
    font-size: 80%;
    width: 100%;
  }

  .program img {
    width: 350px;
    height: 350px;
  }

  .program h2, .program h3 {
    color: white;
  }

  .box {
    padding-bottom: 20%;
  }

  h3 {
    font-size: 90%;
  }

  header {
    height: 110vh;
  }

  .intro-header {
    background-size: 260%;
    height: 80vh;
  }

  .about-header {
    background-size: 220%;
    height: 80vh;
  }

  .contact-header {
    background-size: 220%;
    height: 80vh;
  }

  .donate-header {
    background-size: 238%;
    height: 80vh;
  }

  .work-header {
    background-size: 220%;
    height: 80vh;
  }
  
  .who-we-are p {
    font-size: 80%;
    width: 85%;
  }

  .card img {
    margin:auto;
    width: 100%; 
    max-width: 100%; 
    height: auto;
    object-fit: cover;
  }

  .card {
    width: 80%;
  }

  .image-description-halves p, li {
    font-size: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .tile {
    height: 200%;
  }

  .tile img {
    width: 20%;
  }

  .contact-us {
    width: 80%;
    margin: auto;
  }

  .contact-us h2, p {
    width: 90%;
    margin: 0 auto;
    padding: 5%;
  }

  .contact-us p { 
    font-size: 70%;
  }

  .contact-us label, .contact-us input {
    margin: 0 auto;
  }

  .donate {
    height: 30%;
    width: 70vw;
    border-color: none;
    margin: 0 auto;
    padding-bottom: 5%;
  }

  .option img {
    width: 80%;
    margin: 0 auto;
  }

 .toggle-radio {
    width: 80%;
    margin: 0 auto;
  }

  .switch-field {
    font-size: 50%;
  }

  .donate-btn {
    padding-bottom: 25%;
  }

  .footer-nav {
    display: grid;
    text-align: left;
  }
  
  .social-links {
    display: inline-block;
    margin: 0 auto;
  }

  .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
